In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import pickle
df = pd.read_csv('DATA.csv',delimiter=';')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323 entries, 0 to 322
Data columns (total 55 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CLIENT_VAT           208 non-null    object
 1   TIMO_ID              34 non-null     float64
 2   AT_KM                6 non-null      float64
 3   CZ_KM                144 non-null    float64
 4   DE_KM                68 non-null     float64
 5   EE_KM                32 non-null     float64
 6   HU_KM                37 non-null     float64
 7   LT_KM                131 non-null    float64
 8   LV_KM                62 non-null     float64
 9   PL_KM                267 non-null    float64
 10  SE_KM                32 non-null     float64
 11  SK_KM                93 non-null     float64
 12  COMPANY_LP           60 non-null     object
 13  ADRESS_LP            55 non-null     object
 14  COD_LP               323 non-null    object
 15  CITY_LP              77 non-null     object
 16  LATITUDE_LP          0 non-null      float64
 17  LONGTITUDE_LP        0 non-null      float64
 18  START_LOAD_DATA      323 non-null    object
 19  START_LOAD_TIME      117 non-null    object
 20  END_LOAD_DATA        323 non-null    object
 21  END_LOAD_TIME        111 non-null    object
 22  COMPANY_DP           42 non-null     object
 23  ADRESS_DP            42 non-null     object
 24  COD_DP               323 non-null    object
 25  CITY_DP              70 non-null     object
 26  LATITUDE_DP          0 non-null      float64
 27  LONGTITUDE_DP        0 non-null      float64
 28  START_DELIVERY_DATA  323 non-null    object
 29  START_DELIVERY_TIME  86 non-null     object
 30  END_DELIVERY_DATA    323 non-null    object
 31  END_DELIVERY_TIME    91 non-null     object
 32  VEHICLE_TYPE         323 non-null    object
 33  BODY_TYPE            319 non-null    object
 34  LOAD_UNLOAD_METHOD   322 non-null    object
 35  EPALE                82 non-null     float64
 36  GOODS_TYPE           153 non-null    object
 37  TEMP_MIN             20 non-null     float64
 38  TEMP_MAX             20 non-null     float64
 39  EURO                 323 non-null    float64
 40  LDM                  323 non-null    float64
 41  M3                   4 non-null      float64
 42  HEIGHT               3 non-null      float64
 43  WIDTH                0 non-null      float64
 44  TONS                 323 non-null    float64
 45  REQUIREMENTS         2 non-null      object
 46  OTHER_COSTS          25 non-null     float64
 47  QTY_LOADS            323 non-null    int64
 48  QTY_DELIVERIES       323 non-null    int64
 49  SOURCE               231 non-null    object
 50  PAYMENT TERM         195 non-null    float64
 51  DOCUMENTS_BY         61 non-null     object
 52  CARGO_VALUE_EURO     2 non-null      float64
 53  CUSTOMS              4 non-null      float64
 54  TIME_OF_ENTRY        38 non-null     object
dtypes: float64(28), int64(2), object(25)
memory usage: 138.9+ KB

In [3]:
df['AT_KM'] = df['AT_KM'].fillna(0)
df['CZ_KM'] = df['CZ_KM'].fillna(0)
df['DE_KM'] = df['DE_KM'].fillna(0)
df['EE_KM'] = df['EE_KM'].fillna(0)
df['HU_KM'] = df['HU_KM'].fillna(0)
df['LT_KM'] = df['LT_KM'].fillna(0)
df['LV_KM'] = df['LV_KM'].fillna(0)
df['PL_KM'] = df['PL_KM'].fillna(0)
df['SE_KM'] = df['SE_KM'].fillna(0)
df['SK_KM'] = df['SK_KM'].fillna(0)

x = df[['AT_KM','CZ_KM','DE_KM','EE_KM','HU_KM','LT_KM','LV_KM','PL_KM','SE_KM','SK_KM','LDM','TONS','QTY_LOADS','QTY_DELIVERIES']]
y = df[['EURO']]

regressor = LinearRegression()

#Fitting model with trainig data
regressor.fit(x, y)

# Saving model to disk
# Pickle serializes objects so they can be saved to a file, and loaded in a program again later on.
pickle.dump(regressor, open('model.pkl','wb'))